---
---

@import "{{ site.theme }}";
.container {
  background-color: #157878; /* Cor das faixas laterais */
  margin: 0 auto;
  max-width: 960px; /* Largura máxima do conteúdo principal */
  padding: 0 20px;
}
