---
---

@import "{{ site.theme }}";
body {
  background-color: #ffffff; /* Cor de fundo branca */
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
}

.left-bar,
.right-bar {
  background-color: #157878; /* Cor das faixas laterais */
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100px; /* Largura das faixas laterais */
  z-index: -1;
}

.left-bar {
  left: 0;
}

.right-bar {
  right: 0;
}
